include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | main page

  body
    .wrapper
      .welcome-section
        section.hero.section
          .container
            header.header
              .header__logo
                .logo БС
              .header__btns
                nav.menu
                  - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                  ul.menu__list
                    each item in items
                      li.menu__item
                        a.menu__link #{item}
              .header__links
                - var icons = ["insta", "vk", "github"];
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="").socials__link
                        +icon(item, "socials__icon")

            .hero__content
              .user-data
                h4.user-data__desc Личный сайт <br> веб разработчика
                h1.user-data__name Богдан <br> Сутужко

            .hero__link-wrapper
              a(href="#").hero__bottom-btn.scroll-down-btn Скролл 
              .scroll-down__wrapper
                - var icons = ["scroll"]
                  each item in icons
                    +icon(item, "scroll-down-icon")


        section.about-section.section
          .container
            .about
              .about__user-data
                .user-info
                  .user-info__avatar
                    .avatar
                      +image("content/user.jpg", "avatar-img")
                  .user-info__content
                    - 
                      var userdata = [
                        ["Проживаю", "г. Москва"],
                        ["Возраст", "23 года"],
                        ["Родился", "13 декабря 1996"]
                      ];
                    table.user-info__data
                      tbody.user-info__data-body
                        each row in userdata
                          tr
                            td.first-td #{row[0]}
                            td.second-td #{row[1]}

              .about__content
                .about__disclamer Привет, меня зовут
                h2.about__title Богдан Сутужко
                .about__desc
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

      main.maincontent
        section.skills-section.section 
          .container
            .skills
              .left-column
                +image("content/content-skills-hands.png", "skills__img")
              .right-column
                .values
                  .values__title
                    h2.section-title.values__title-text Чем я могу быть вам полезен
                    .values__desc
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

                  ul.user-skills
                    - 
                      var skills = [
                        ['Frontend', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
                        ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                      ]
                    each item in skills 
                      li.user-skills__item.skills-row 
                        h3.skills-row__title #{item[0]}
                        ul.skills-row__list
                          each skill in item[1]
                            li.skills-row__item
                              .skill
                                //- svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                                  circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                                  circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--above
                                  linear-gradient()
                                .skill__title #{skill}

        section.experience.section
          .container
            h2.section__title.section__title--black.experience-section__title Мои работы
            .experience-wrapper
              .experience__left-column
                .experience-screenshot__main-wrapper
                  +image("content/mainScreen.png", "screenshot__main")
                  .experience-screenshot__secondary-wrapper
                    +image("content/screenshot__secondary-1.png", "screenshot__secondary-1")
                    +image("content/screenshot__secondary-2.png", "screenshot__secondary-2")
                    +image("content/screenshot__secondary-3.png", "screenshot__secondary-3")
                    +image("content/screenshot__secondary-4.png", "screenshot__secondary-4")

                  .experience__btns
                    .btn__left-arrow
                      - var icons = ["arrow-down"]
                      each item in icons
                        +icon(item, "left-arrow__icon")
                    .btn__right-arrow
                      - var icons = ["arrow-down"]
                      each item in icons
                        +icon(item, "right-arrow__icon")
                .experience-screenshot__number 2

              .experience__right-column
                .technology-marker__list
                  .technology-marker__item-name HTML
                  .technology-marker__item-name CSS
                  .technology-marker__item-name Javascript
                .experience__title Сайт школы<br>образования
                .experience__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.experience__link Посмотреть сайт
                  - var icons = ["link"]
                    each item in icons
                      +icon(item, "experience__link-icon")

        section.reviews.section
          .container
            .reviews__wrapper
              h2.section__title Что обо мне говорят
              .reviews__btns
                .review-btn__left-arrow
                  - var icons = ["arrow-down"]
                  each item in icons
                    +icon(item, "review-left-arrow__icon")
                .review-btn__right-arrow
                  - var icons = ["arrow-down"]
                  each item in icons
                    +icon(item, "review-right-arrow__icon")
            .reviews__items-wrapper   

              .reviews__item.review
                .review__content
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                .review__autor
                  .review__left-column
                    .review__avatar.avatar.avatar--small
                      +image("content/kovalchuk.png", "avatar-img")
                  .review__right-column
                    .review__title.review__name Ковальчук Дмитрий
                    .review__post Основатель Loftschool

              .reviews__item.review
                .review__content
                  p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                .review__autor
                  .review__left-column
                    .review__avatar.avatar.avatar--small
                      +image("content/sabantsev.png", "avatar-img")
                  .review__right-column
                    .review__title.review__name Владимир Сабанцев
                    .review__post Преподаватель

        section.feedback.section
          .container
            .feedback__wrapper
              h2.section__title Связаться со мной
              form.feedback__form.form
                .form__row.form__row-double
                  label.form__block
                    .form__label Введите ваше имя
                    input(type="text" name="name" placeholder="Ковальчук Дмитрий" required).form__input.form__input--name
                    - var icons = ["user"]
                      each item in icons
                        +icon(item, "user-icon, form__icon")
                    .form__error
                  label.form__block
                    .form__label Введите ваш email
                    input(type="email" name="name" placeholder="loftschool@study.com" required).form__input.form__input--email
                    - var icons = ["envelope"]
                      each item in icons
                        +icon(item, "envelope-icon, form__icon")
                    .form__error
                .form__row
                  label.form__block
                    .form__label Сообщение к письму
                    textarea(name="comment" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" required).form-input.form-input_textarea
                    - var icons = ["message"]
                      each item in icons
                        +icon(item, "message-icon, form__icon")
                .form__row
                  input(type="submit" value="Отправить").form__button  

      footer.footer
        .container
          .footer__wrapper
            .footer__copyright © 2020
            .footer__developer-info.developer-info
              .developer-info__name Богдан Сутужко
              .developer-info__text Личный сайт <br> веб-разработчика
            .footer__content
              .footer__btns
                nav.footer__menu
                  - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                  ul.footer__menu-list
                    each item in items
                      li.footer__menu-item
                        a.footer__menu-link #{item}
              .footer__content-second-line  
                .footer__text        
                  .footer__links-text Этот сайт я сделал в рамках обучения в <br> Школе онлайн образования Loftschool          
                  .footer__links
                    - var icons = ["insta", "vk", "github"];
                    ul.socials
                      each item in icons
                        li.socials__item.footer__socials-item 
                          a(href="").socials__link.footer__socials-link
                            +icon(item, "socials__icon, footer__socials-icon")
                .footer__quote
                  .footer__quote-content Всегда пишите код так, будто сопровождать его будет <br> склонный к насилию психопат, который знает где вы <br> живете
                  .footer__quote-author Martin Golding
